<div class="container">
  <% if @user %>
  <p>
  <%= image_tag @user.profile_image_url_https.to_s %>
  </p>
  <p>
  <%= @user.screen_name %>, <%= link_to '登出', '/logout' %>
  </p>
  <% else %>
  <%= link_to "使用twitter登录", "/authenticate", class: "btn btn-primary" %>
  <% end %>

  <!--
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">输入配置信息</h5>
      <p class="card-text">
        <%= form_tag '/save' do %>
          <div class="alert alert-warning">设置信息保存在浏览器cookie中，并不存在于服务器</div>
          <div class="mb-3">
            <label class="form-label">Consumer Key</label>
            <%= text_field_tag 'twitter_consumer_key', @config[:twitter_consumer_key], class: 'form-control' %>
          </div>
          <div class="mb-3">
            <label class="form-label">Consumer Secret</label>
            <%= text_field_tag 'twitter_consumer_secret', @config[:twitter_consumer_secret], class: 'form-control' %>
          </div>
          <div class="mb-3">
            <label class="form-label">Access Token</label>
            <%= text_field_tag 'twitter_access_token', @config[:twitter_access_token], class: 'form-control' %>
          </div>
          <div class="mb-3">
            <label class="form-label">Access Token Secret</label>
            <%= text_field_tag 'twitter_access_token_secret', @config[:twitter_access_token_secret], class: 'form-control' %>
          </div>
          <% if cookies[:valid_settings] %>
            <div class="mb-2">
            <% if cookies[:valid_settings] === 'false' %>
            <span class="badge text-bg-danger">无效设置</span>
            <% end %>
            <% if cookies[:valid_settings] === 'true' %>
            <span class="badge text-bg-success">设置成功</span>
            <% end %>
            </div>
          <% end %>
          <button type="submit" class="btn btn-primary">保存配置</button>
        <% end %>
      </p>
    </div>
  </div>
  -->

  <div class="mb-4"></div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">获取的视频</h5>
      <% @videos.each_with_index do |video, index| %>
        <div class="p-4 mb-4">
          <video controls>
            <source src="<%= video %>" />
          </video>
          <div>
          下载地址: <%= link_to video, video %>
          </div>
          <div>
            内容: <%= text_field_tag "text-#{index}", "", style: "width:400px" %>
            <button
              onclick="onretweet('/retweet?video_url=<%= URI.encode_www_form_component(video) %>', <%= index %>)"
              class="btn btn-primary">
              转发
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script language="javascript">
function onretweet(url, index) {
  const text = document.querySelector(`#text-${index}`).value;
  url = url + `&text=${text}`
  location.href = url;
}
</script>