<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">输入配置信息</h5>
      <p class="card-text">
        <%= form_tag '/save' do %>
          <div class="mb-3">
            <label class="form-label">Consumer Key</label>
            <%= text_field_tag 'twitter_consumer_key', @config[:twitter_consumer_key], class: 'form-control' %>
          </div>
          <div class="mb-3">
            <label class="form-label">Consumer Secret</label>
            <%= text_field_tag 'twitter_consumer_secret', @config[:twitter_consumer_secret], class: 'form-control' %>
          </div>
          <div class="mb-3">
            <label class="form-label">Access Token</label>
            <%= text_field_tag 'twitter_access_token', @config[:twitter_access_token], class: 'form-control' %>
          </div>
          <div class="mb-3">
            <label class="form-label">Access Token Secret</label>
            <%= text_field_tag 'twitter_access_token_secret', @config[:twitter_access_token_secret], class: 'form-control' %>
          </div>
          <button type="submit" class="btn btn-primary">保存配置</button>
        <% end %>
      </p>
    </div>
  </div>

  <div class="mb-4"></div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">获取的视频</h5>
      <% @videos.each do |video| %>
        <div class="p-4 mb-4">
          <video controls>
            <source src="<%= video %>" />
          </video>
          <div>
          下载地址: <%= link_to video, video %>
          </div>
          <div>
          <button class="btn btn-primary">转发</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>